package {{.Package}}

import (
	"context"
	"{{.ModName}}/internal/server"
	"{{.ModName}}/{{.Namespace}}"
)

{{.ProtoService.Comment}}
type {{.StructName}}Handler struct {
	svc *server.SvcContext
	{{.PbPkgName}}.Unimplemented{{.StructName}}Server // Embedding for forward compatibility
}

func New{{.StructName}}Handler(svc *server.SvcContext) *{{.StructName}}Handler {
	return &{{.StructName}}Handler{svc: svc}
}
{{range .ProtoService.Methods}}
{{.Comment}}
func (s *{{$.StructName}}Handler) {{.Name}}(ctx context.Context, request *{{$.PbPkgName}}.{{.Request}}) (*{{$.PbPkgName}}.{{.Response}}, error) {
	return &{{$.PbPkgName}}.{{.Response}}{}, nil
}{{"\n"}}
{{- end}}



