package {{.Package}}

import (
	"context"
	"{{.ModName}}/config"
	"{{.ModName}}/pkg/grpc"
	"{{.ModName}}/proto/demo/pb"
)

type Container struct {
	{{.StructName}}Client pb.{{.StructName}}Client
}

func Register(c config.Conf, ctx context.Context) *Container {
	return &Container{
		{{.StructName}}Client: pb.New{{.StructName}}Client(grpc.NewClient(c.DemoClient, ctx)),
	}
}
